/* Définition des couleurs pour le bouton */
.btnadd {
    background-color: #077bff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Suppression de la bordure */
    padding: 12px 24px; /* Espacement entre le texte et les bords */
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Affichage du curseur de la souris en forme de main */
    border-radius: 4px; /* Arrondi des bords */
  }
  
  /* Effet de survol */
  .btnadd:hover {
    background-color: #077bff; /* Changement de couleur de fond */
  }
  
  /* Icône */
  .btnadd i {
    margin-right: 8px; /* Espacement entre l'icône et le texte */
  }
  