.bouton_4{
    width:40px;
    height:40px;
    padding:10px;
    border-radius:40px;
    background: color #077bff;;
    overflow:hidden;
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -ms-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;
}
.bouton_4:hover{
    width:200px;
    height:40px;
    border-radius:40px;
    background-color:#077bff;
}
.texteduboutton_4
{
    width:70%;
    padding-right: 10px;
    float:right;
    line-height:40px;
    color:#ffffff;
    font-family:'Roboto';
    font-weight:300;
    font-size:18px;
}