* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-image: url(./images/photo-1530293959042-0aac487c21e3.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 11px;
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header a.logo {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

button {
    background-color: #077BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button a {
    color: #fff;
    text-decoration: none;
}

.table__header h1 {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-top: 81px;
}
.table__header h2 {
    color: #000;
    font-size: 39px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 23px;
}

.table__body {
    background-color: rgba(18, 107, 223, 0);
    padding: 10px;
    margin-top: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #333;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

table tr {
    padding: 18px;
    font-weight: bold;
    font-size: 19px;
}

table th,
table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #333;
    color: #eeeeee;
}

table tbody tr:hover {
   background-color: rgba(255, 255, 255, 0.1);
}

.table__body h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.table__body h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}



table p {
    
    margin: 0;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}
p{
    color: #000000;
    color: black;font-size: 21px;font-family: Arial Rounded MT Bold;text-align: left;
    
}
h1{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}
.row .col50 h1 {
    margin-bottom: 20px;
}
.row .col50 h1 {
    margin-bottom: 20px;
}
h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
span{
    color: #077BFF;
    font-size: 1.5em;
    font-weight: 700px;
}