body{
    background-image: url(./images/wallpaperflare.com_wallpaper\ \(2\).jpg);
    background-size: cover;
    font-family:'Roboto',sans-serif ;
}
.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}
.login-box{
    width: 360px;
    height: 330px;
    margin-left: 40%;
    margin-top: 100px;
    border-radius: 3px;
    background-color: white;
}


h1{
    text-align: center;
    padding: 15px ;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px ;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}


select#role{
    background-image: linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
    background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}
select#role:focus{
        background-image:
          linear-gradient(45deg, white 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, white 50%),
          linear-gradient(to right, gray, gray);
        background-position:
          calc(100% - 15px) 1em,
          calc(100% - 20px) 1em,
          100% 0;
        background-size:
          5px 5px,
          5px 5px,
          2.5em 2.5em;
        background-repeat: no-repeat;
        border-color: grey;
        outline: 0;
}
select#role option{
    font-size: 16px;
    padding: 8px;
    background-color: #fff;
    color: #333;
}
select#role option:checked{
    background-color: #f5f5f5;
}
button[type="sub"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #077bff;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
button[type="sub"]:hover{
    background-color: #1E90FF;
}
button[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #077bff;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
button[type="submit"]:hover{
    background-color: #1E90FF;
}
p{
    text-align: center ;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
}
.para-2 a{
    color: #077bff;
}

header{
    position:relative;
    top: 50%;
    right: 40%;
    padding: 30px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 5em;
    text-decoration: none;
}
.logo span{
    color: #077BFF;
}
header.sticky{
    background: #fff;
    padding: 7px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}

header.sticky .logo{
    color: #000;
}
