
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #FFFFFF;
}


.search-box{
    float: right;
    display: flex;
    margin: 10px 25px;
}
.search{
    position: relative;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 1.5px #077BFF;
    overflow: hidden;
}
.search.active{
    width: 350px;
}
.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
.search .icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #077BFF;
    border-radius: 50%;
    transform: translate(-4px,-4px);
}
.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background:  #077BFF;
    transform: translate(6px,6px) rotate(315deg);
}
.search .input{
    position: relative;
    width: 300px;
    height: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: navajowhite;
    font-size: 18px;
    padding: 10px 0;
}



.tbox{
padding: 0px;
width: 250px;

}

.clear {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    left: 415px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg) ;
}
.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg) ;


}


header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 30px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.logo{
    color: #fff;
    font-weight: bold;
    font-size: 4em;
    text-decoration: none;
    
}
.logo span{
    color: #077BFF;
}
.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color:#fff;
    text-decoration: none;
    margin-left: 50px;
    font-weight: 700;
}

.btn-reserve{
    padding: 10px 20px;
   margin-top: -10px;
   text-transform:uppercase ;
}


header .navbar li a:hover{
    color: #077BFF;
    border-bottom: 2px solid #077BFF;
}

.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/wallpaperflare.com_wallpaper\ \(2\).jpg);
    background-size: cover;
}

.banniere .contenu{
    max-width: 70%;
    text-align: center;
}
.banniere .contenu h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}
.contenu p:nth-child(2){
    color: #ffff;
    font-size: 1.2em;
}

.btn1{
    font-size: 1em;
    color: #fff;
    background: #077BFF;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn2{
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn1:hover{
letter-spacing: 4px;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;

}

.row .col50 h2{
    margin-bottom: 20px;
}

.titre-texte{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
    
}

.titre-texte span{
    color: #077BFF;
    font-size: 1.5em;
    font-weight: 700px;
}

.row .col50 img{
    height: 450px;
    width: 600px;
    position: relative;
}

.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header.sticky{
    background: #fff;
    padding: 7px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}

header.sticky .logo{
    color: #000;
}

header.sticky .navbar li a {
    color: #000;
}

header.sticky li a:hover{
    color: #077BFF;
    border-bottom: 2px solid #077BFF;
}

@media (max-width: 991px) {
header, 
header.sticky{
    padding: 10px 20px;
}

header .navbar li{
    margin-left: 0px;
}

header .navbar li a {
    text-decoration: none;
    color: #111;
    font-size: 1.6em;
    font-weight: 300;
}

.navbar{
    display: none;
}
section{
    padding: 20px;
}

header .navbar.active{
    width: 100%;
    height: calc(100% -68px);
    position: fixed;
    top: 68px;
    left:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:#fff;
    align-items: center;
}



h1{
    color: #077BFF;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}
ul li{
    list-style: none;
}
ul li a{
    color: #000;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}
ul li a i{
    width: 40px;
    text-align: center;
}
.input0{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    right:15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #077BFF;
    border-radius: 50px;
    transition: 0.3s ease;
}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.input0:checked .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
.input0:checked .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
.input0:checked .toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);
}
.input0:checked .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0, 0.5);
}
.container{
    height: 80%;
    width: 250px;
    position: absolute;
    background: #161616;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(0px);
}
.container .head{
    color: #fbfdce;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(30deg,#df0155,#ed4901);
}
ol{
    width: 100%;
    list-style: none;
}
ol li{
    display: block;
    width: 100%;
}
ol li a{
    color: #fbfdce;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}
ol li a i{
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
}
ol li:hover a{
    background: #030303;
    color: #00eaff;
    letter-spacing: 5px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color: #f9f8ff;
}
.blog-heading h3{
    font-size: 2.4;
    color: #252525;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2.4rem;
}
.blog-heading strong{
    color: #0a0ef8;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.3px;
}
.blog-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.blog-box{
    max-width: 400px;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
}
.blog-box:hover{
    background-color: #ffffff;
    box-shadow: 16px 20px 50px rgba(0,0,0, 0.12);
}
.blog-box-img{
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    position: relative;
}
.blog-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.3s;
}
.blog-box-img-link{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #252525;
    box-shadow: 2px 2px 30px rgba(20, 97, 212, 0.12);
    animation: fade 0.3s;
    
}
.blog-box:hover .blog-box-img a{
    display: flex;
}
.blog-box:hover .blog-box-img img{
    filter: blur(3px);
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.blog-box-text{
    display: flex;
    flex-direction: column;
    padding: 30px 10px 20px 10px;
}
.blog-box-text strong,
.blog-box-text p{
    color: #797979;
    font-size: 0.9rem;
    font-weight: 400;
}
.blog-box-text a{
    font-size: 1.4rem;
    color: #252525;
    font-weight: 800;
    line-height: 1.8rem;
    margin: 5px 0px 10px 0px;
}
.blog-box-text p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}